body {
  background: #DFDFDF; }
  body b {
    font-weight: 500; }
  body p {
    line-height: 1;
    margin: 0 0 5px; }
  body .bgGreen {
    background: #009788;
    height: 110px; }
  body img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    vertical-align: middle;
    margin: 5px; }
  body .container {
    padding: 1% 7%; }
    body .container .columnLeft {
      width: 41.5%;
      box-shadow: 0px 4px 5px #c9c9c9;
      float: left;
      border: 1px solid #DADADA;
      height: 108vh;
      display: inline-block;
      overflow: hidden; }
      body .container .columnLeft .user {
        background: #EEEEEE;
        padding: 10px; }
        body .container .columnLeft .user span {
          float: right;
          color: #767576;
          font-size: 20px;
          margin-top: 10px; }
      body .container .columnLeft .searchbox {
        background: white;
        padding: 10px;
        border-bottom: 1px solid #CDCDCD; }
        body .container .columnLeft .searchbox form {
          color: #c9c9c9;
          display: inline-block;
          border-radius: 5px;
          border: 1px solid #EDEDED;
          background: white;
          padding: 10px; }
          body .container .columnLeft .searchbox form input {
            margin-left: 10px;
            border: none;
            width: 400px; }
          body .container .columnLeft .searchbox form span {
            font-size: 13px;
            display: inline-block; }
      body .container .columnLeft .contactos {
        overflow-y: scroll; }
        body .container .columnLeft .contactos > div {
          background: white;
          padding: 10px;
          border-bottom: 1px solid #CDCDCD; }
        body .container .columnLeft .contactos .info {
          width: 85%;
          vertical-align: middle;
          display: inline-block; }
          body .container .columnLeft .contactos .info img {
            display: inline-block; }
          body .container .columnLeft .contactos .info .hora {
            float: right; }
          body .container .columnLeft .contactos .info .detalle {
            font-size: 14px;
            color: #827287; }
    body .container .columnRight {
      float: left;
      border: 1px solid #DADADA;
      height: auto;
      display: inline-block;
      overflow: hidden;
      background: #EDEAE5;
      width: 58.3%;
      box-shadow: 4px 4px 5px -4px #c9c9c9; }
      body .container .columnRight .contacto {
        width: 100%;
        padding: 10px;
        background: #EEEEEE; }
        body .container .columnRight .contacto img {
          display: inline-block; }
        body .container .columnRight .contacto .info {
          display: inline-block;
          width: 90%; }
          body .container .columnRight .contacto .info span {
            float: right;
            color: #767576;
            font-size: 20px;
            margin-top: 10px; }
          body .container .columnRight .contacto .info .detalle {
            font-size: 14px;
            color: #827287; }
      body .container .columnRight .chat {
        padding: 20px;
        background: url(../image/chat-panel-bg.png);
        background-size: cover; }
        body .container .columnRight .chat .chatName1 {
          color: #84C5DF; }
        body .container .columnRight .chat .chatName2 {
          color: #CB6CA0; }
        body .container .columnRight .chat .chatName3 {
          color: #61B495; }
        body .container .columnRight .chat .chatName4 {
          color: #CAAF6B; }
        body .container .columnRight .chat .chatboxContact {
          border-radius: 5px;
          border: 1px solid #EDEDED;
          margin-bottom: 2px;
          background: white;
          padding: 10px;
          max-width: 100%;
          display: inline-block; }
        body .container .columnRight .chat .chatboxUser {
          border-radius: 5px;
          border: 1px solid #EDEDED;
          margin-bottom: 2px;
          background: white;
          padding: 10px;
          background: #DEF7C7;
          text-align: right;
          float: right;
          max-width: 100%;
          display: inline-block; }
      body .container .columnRight .text {
        padding: 10px;
        background: #F0F0F0; }
        body .container .columnRight .text span {
          color: #AAAAAA;
          font-size: 20px;
          margin-top: 10px;
          font-size: 13px;
          display: inline-block; }
        body .container .columnRight .text form {
          color: #c9c9c9;
          display: inline-block;
          border-radius: 5px;
          border: 1px solid #EDEDED;
          margin-left: 10px;
          border: none;
          width: 85%;
          background: white;
          padding: 10px; }
          body .container .columnRight .text form #inputChat {
            margin-left: 10px;
            border: none;
            width: 85%; }

#emoticons {
  width: 250px;
  height: 250px;
  overflow-y: auto;
  position: relative;
  top: -280px;
  background: #F0F0F0;
  visibility: hidden;
  margin-bottom: -250px; }
  #emoticons img {
    width: 25px;
    height: 25px; }
  #emoticons .tabs {
    width: 250px;
    height: 250px;
    overflow-y: auto;
    display: inline; }

.icon-insert_emoticon {
  cursor: pointer; }

.minIcon img {
  width: 20px;
  height: 20px; }

/*# sourceMappingURL=main.css.map */
